OBJXREF.COM
PRJ2MAK.EXE
PRJCFG.EXE
PRJCNVT.EXE
TASM2MSG.EXE
TC.EXE
TC.PIF
TC0000.SWP
TC0001.SWP
TC0002.SWP
TC0003.SWP
TC0004.SWP
TC0005.SWP
TC0006.SWP
TC0007.SWP
TCC.EXE
TCCONFIG.TC
TCDEF.DPR
TCDEF.DSK
TCHELP.TCH
TDUMP.EXE
TEMC.EXE
THELP.CFG
THELP.COM
TLIB.EXE
TLINK.EXE
TOUCH.COM
TRANCOPY.EXE
TRIGRAPH.EXE
TURBOC.CFG
UNZIP.EXE
BUILTINS.MAK
CPP.EXE
DPMI16BI.OVL
DPMIINST.EXE
DPMILOAD.EXE
DPMIMEM.DLL
DPMIRES.EXE
EMSTEST.COM
EX1.EXE
GREP.COM
GREP2MSG.EXE
MAKE.EXE
MAKER.EXE